.form{
    display: none;
}

.btn-group button {
  background-color: #2271b1; /* Green background */
  border: 1px solid #2271b1; /* Green border */
  border-radius: 3px;
  margin-right: 2px;
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #3232ff ;
}

.evernym-settings {
display: none;
}

.trinsic-settings {
    display: block;
    }

    /* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .test-result-ok {
    display: inline; 
    font-weight: bold;
    width: 100px;
    height: 100px;
    padding: 5px;
    margin-left: 10px;
    border: 1px solid black;  
    background-color: rgb(43, 231, 106); 
  }

  .test-result-fail {
    display: none; 
    font-weight: bold;
    width: 100px;
    height: 100px;
    padding: 5px;
    margin-left: 10px;
    border: 1px solid black;  
    background-color: rgb(218, 60, 33); 
  }

